<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.FileExplorer"
        tools:targetApi="34" >

        <activity
            android:name=".screen.textEditor.TextEditorActivity"
            android:exported="false"
            android:label="@string/title_activity_text_editor"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".screen.preferences.PreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_preferences"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".screen.viewer.pdf.PdfViewerActivity"
            android:exported="true"
            android:label="@string/title_activity_pdf_viewer"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize"
            android:documentLaunchMode="intoExisting"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/pdf"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.viewer.image.ImageViewerActivity"
            android:exported="true"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize"
            android:documentLaunchMode="intoExisting"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="image/*"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.viewer.media.MediaViewerActivity"
            android:exported="true"
            android:label="@string/title_activity_media_viewer"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize"
            android:documentLaunchMode="intoExisting"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FileExplorer"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.raival.compose.file.explorer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>